@use '../styles/settings.scss' as colors;
@use '../styles/settings.scss' as screen;
@import '../styles/mixins.scss';

.wrapper {
    display: grid;
    column-gap: 4rem;
    row-gap: 3rem;
    @include breakpoint(screen.$large){
      grid-template-columns: 20rem auto;
    }
}
.content{
    form{
       border: 1px #ccc solid;
       border-radius: 10px;
       padding: 2rem;
    }
}
.profile-list {
    margin-bottom: 2rem;
    > div {
      border: 1px #ccc solid;
      padding: 0;
      margin-bottom: -1px;
      strong {
        background-color: rgba(colors.$secondary, 0.09);
        padding: 0.5rem;
        border-right: 1px #ccc solid;
      }
    }
}
.action{
  margin-top: 60px;
}