@use '../../../styles/settings.scss' as colors;
@use '../../../styles/settings.scss' as screen;
@import '../../../styles/mixins.scss';

.field{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    gap: 1rem;
    flex-wrap: wrap;
    label {
        flex: 0 0 100%;
        @include breakpoint(screen.$medium){
            flex: 1;
        }
    }
    &-input {
        flex: 0 0 100%;
        @include breakpoint(screen.$medium){
            flex: 1;
        }
        input {
             margin-bottom: 0;
        }      
    }
}

.error{
  border-color: colors.$error !important;
  color: colors.$error;
}