@use './settings.scss' as fonts;
@use './settings.scss' as screen;

body{
    font-family: fonts.$font-name;
    font-weight: fonts.$font-light;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.35;
}
h1, h2, h3{
    @extend .font-semibold; 
}
h4, h5, h6{
    @extend .font-regular; 
}
button{
    cursor: pointer;
    appearance: none;
    outline: none;
    border: 0;
    &:disabled{
        cursor: not-allowed;
        opacity: 0.2;
    }
}
input, select {
    outline: none;
}
::placeholder{
    color: #ccc;
}
.app{
   &-main{
    padding: 3.75rem 0;    
   }
   &-container{
    max-width: screen.$xlarge;
    margin: 0 auto;
    padding: 0 1.5rem;
    box-sizing: border-box;
   }
}
.font-light{
   font-variation-settings: 'wght' fonts.$font-light;
}
.font-regular{
    font-variation-settings: 'wght' fonts.$font-regular;
}
.font-semibold{
    font-variation-settings: 'wght' fonts.$font-semibold;
}

 
 
